<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://use.typekit.net/qlc4ujt.css" />
    <link rel="stylesheet" href="/css/style.css" />

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"
      integrity="sha512-cdV6j5t5o24hkSciVrb8Ki6FveC2SgwGfLE31+ZQRHAeSRxYhAQskLkq3dLm8ZcWe1N3vBOEYmmbhzf7NTtFFQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/ScrollTrigger.min.js"
      integrity="sha512-Q+G390ZU2qKo+e4q+kVcJknwfGjKJOdyu5mVMcR95NqL6XaF4lY4nsSvIVB3NDP54ACsS9rqhE1DVqgpApl//Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="scripts/CustomEase.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script src="/scripts/script.js"></script>

    <title>Clarc – Re-prenez en main votre parc</title>
  </head>
  <body>
    <section id="intro">
      <div class="container">
        <div class="left">
          <div>
            <img
              src="/img/clarc_logo_couleur.png"
              class="logo"
              alt="logo clarc"
            />
            <h1>Re-prenez la main<br />sur votre parc informatique</h1>
          </div>
          <div>
            <button class="btn-important" onclick="location.href='/form';">
              Demander une démo
            </button>
            <button class="btn-normal">
              <a href="#"> Me tenir informé.e</a>
            </button>
          </div>
        </div>
        <img
          src="/img/coworking.jpg"
          class="illustration"
          alt="groupe de coworking"
        />
      </div>
    </section>
    <section id="recycle-banner">
      <div>
        <img src="/img/icons/recycle.png" alt="recycle icon" />
        <h2>Acheter, Réparer, Reconditionner</h2>
      </div>
    </section>
    <section id="why">
      <h2>Pourquoi <b>équiper</b> son entreprise avec clarc ?</h2>
      <div class="advantages">
        <div class="item">
          <img src="/img/icons/monitor.png" alt="monitor" />
          <h3>Les meilleurs ordinateurs pour vos équipes</h3>
        </div>
        <div class="item">
          <img src="/img/icons/steering-wheel.png" alt="monitor" />
          <h3>Onboarding et gestion de flotte</h3>
        </div>
        <div class="item">
          <img src="/img/icons/money.png" alt="monitor" />
          <h3>Une trésorerie maitrisée</h3>
        </div>
        <div class="item">
          <img src="/img/icons/social-responsibility.png" alt="monitor" />
          <h3>Politique IT responsable</h3>
        </div>
        <!-- <div class="item">
                <img src="img/icons/monitor.png" alt="monitor">
                <h3>Les meilleurs ordinateurs pour vos équipes</h3>
            </div> -->
      </div>
    </section>
    <section id="centralize">
      <div id="top-box">
        <h2>
          <b>Centralisez</b> la gestion des ordinateurs et des téléphones de vos
          collaborateurs
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,
          purus sit amet luctus venenatis, lectus magna fringilla urna,
          porttitor rhoncus dolor purus non enim praesent elementum facilisis
          leo, vel
        </p>
      </div>
      <div id="carroussel">
        <div class="item">
          <div class="left">
            <h3>Dashboard</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque,
              sapiente? Nemo eos, porro magnam laudantium labore laboriosam?
              Tempora voluptatum officiis delectus, consequuntur fugiat,
              accusamus quae obcaecati mollitia recusandae reiciendis sed?
            </p>
          </div>
          <div class="right">
            <img src="/img/carroussel/slide-1.png" alt="screenshot" />
          </div>
        </div>
        <div class="item">
          <div class="left">
            <h3>On-boarding</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque,
              sapiente? Nemo eos, porro magnam laudantium labore laboriosam?
              Tempora voluptatum officiis delectus, consequuntur fugiat,
              accusamus quae obcaecati mollitia recusandae reiciendis sed?
            </p>
          </div>
          <div class="right">
            <img src="/img/carroussel/slide-2.png" alt="screenshot" />
          </div>
        </div>
        <div class="item">
          <div class="left">
            <h3>Marketplace</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque,
              sapiente? Nemo eos, porro magnam laudantium labore laboriosam?
              Tempora voluptatum officiis delectus, consequuntur fugiat,
              accusamus quae obcaecati mollitia recusandae reiciendis sed?
            </p>
          </div>
          <div class="right">
            <img src="/img/carroussel/slide-3.png" alt="screenshot" />
          </div>
        </div>
        <!-- <div class="item">
          <div class="left">
            <h3>Employés</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque,
              sapiente? Nemo eos, porro magnam laudantium labore laboriosam?
              Tempora voluptatum officiis delectus, consequuntur fugiat,
              accusamus quae obcaecati mollitia recusandae reiciendis sed?
            </p>
          </div>
          <div class="right">
            <img src="/img/carroussel/slide-4.png" alt="screenshot" />
          </div>
        </div> -->
        <!-- <div class="item">
          <div class="left">
            <h3>Parc informatique</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque,
              sapiente? Nemo eos, porro magnam laudantium labore laboriosam?
              Tempora voluptatum officiis delectus, consequuntur fugiat,
              accusamus quae obcaecati mollitia recusandae reiciendis sed?
            </p>
          </div>
          <div class="right">
            <img src="img/carroussel/slide-5.png" alt="screenshot" />
          </div>
        </div> -->
        <!-- <div class="item">
          <div class="left">
            <h3>Support</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque,
              sapiente? Nemo eos, porro magnam laudantium labore laboriosam?
              Tempora voluptatum officiis delectus, consequuntur fugiat,
              accusamus quae obcaecati mollitia recusandae reiciendis sed?
            </p>
          </div>
          <div class="right">
            <img src="img/carroussel/slide-6.png" alt="screenshot" />
          </div>
        </div> -->
      </div>
    </section>
    <section id="infos">
      <div class="item item-1">
        <div class="text">
          <h2>Centralisation</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
            ea mollitia recusandae a expedita temporibus dicta veritatis tempora
            placeat odit debitis, atque, quis quaerat quo. Error expedita beatae
            vitae totam?
          </p>
        </div>
        <div class="parallax-img">
          <img src="img/coworking.jpg" alt="img" />
        </div>
      </div>
      <div class="item item-2">
        <div class="parallax-img">
          <img src="img/coworking.jpg" alt="img" />
        </div>
        <div class="text">
          <h2>Centralisation</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
            ea mollitia recusandae a expedita temporibus dicta veritatis tempora
            placeat odit debitis, atque, quis quaerat quo. Error expedita beatae
            vitae totam?
          </p>
        </div>
      </div>
      <div class="item item-3">
        <div class="text">
          <h2>Centralisation</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
            ea mollitia recusandae a expedita temporibus dicta veritatis tempora
            placeat odit debitis, atque, quis quaerat quo. Error expedita beatae
            vitae totam?
          </p>
        </div>
        <div class="parallax-img">
          <img src="img/coworking.jpg" alt="img" />
        </div>
      </div>
    </section>
    <section id="pick-model">
      <div class="container">
        <h2>Choissisez parmi les meilleurs modèles</h2>
        <nav>
          <ul class="nav-list">
            <li class="nav-element active" id="apple">Apple</li>
            <li class="nav-element" id="microsoft">Microsoft</li>
            <li class="nav-element" id="dell">DELL</li>
            <li class="nav-element" id="chrome">Chrome</li>
          </ul>
        </nav>
        <div class="models">
          <!-- Liste 1 -->
          <ul class="models-list" id="models-list-1">
            <li class="models-element">
              <img
                src="/img/computers/apple.jpg"
                alt="apple"
                class="models-img"
              />
              <p>MacBook Pro 16p</p>
              <div class="models-list-bottom">
                <p>2500 €</p>
                <a href="#">Découvrir</a>
              </div>
            </li>
            <li class="models-element">
              <img
                src="/img/computers/apple.jpg"
                alt="apple"
                class="models-img"
              />
              <p>MacBook Pro 16p</p>
              <div class="models-list-bottom">
                <p>2500 €</p>
                <a href="#">Découvrir</a>
              </div>
            </li>
            <li class="models-element">
              <img
                src="/img/computers/apple.jpg"
                alt="apple"
                class="models-img"
              />
              <p>MacBook Pro 16p</p>
              <div class="models-list-bottom">
                <p>2500 €</p>
                <a href="#">Découvrir</a>
              </div>
            </li>
            <li class="models-element">
              <img
                src="/img/computers/apple.jpg"
                alt="apple"
                class="models-img"
              />
              <p>MacBook Pro 16p</p>
              <div class="models-list-bottom">
                <p>2500 €</p>
                <a href="#">Découvrir</a>
              </div>
            </li>
            <li class="models-element">
              <img
                src="/img/computers/apple.jpg"
                alt="apple"
                class="models-img"
              />
              <p>MacBook Pro 16p</p>
              <div class="models-list-bottom">
                <p>2500 €</p>
                <a href="#">Découvrir</a>
              </div>
            </li>
            <li class="models-element">
              <img
                src="/img/computers/apple.jpg"
                alt="apple"
                class="models-img"
              />
              <p>MacBook Pro 16p</p>
              <div class="models-list-bottom">
                <p>2500 €</p>
                <a href="#">Découvrir</a>
              </div>
            </li>
          </ul>
          <!-- /Liste 1 -->
          <!-- Liste 2 -->
          <ul class="models-list" id="models-list-2">
            <li class="models-element">
              <img
                src="/img/computers/microsoft.jpg"
                alt="microsoft"
                class="models-img"
              />
              <p>Microsoft Surface Pro 8 </p>
              <div class="models-list-bottom">
                <p>1100 €</p>
                <a href="#">Découvrir</a>
              </div>
            </li>
            <li class="models-element">
              <img
                src="/img/computers/microsoft.jpg"
                alt="microsoft"
                class="models-img"
              />
              <p>Microsoft Surface Pro 8 </p>
              <div class="models-list-bottom">
                <p>1100 €</p>
                <a href="#">Découvrir</a>
              </div>
            </li>
            <li class="models-element">
              <img
                src="/img/computers/microsoft.jpg"
                alt="microsoft"
                class="models-img"
              />
              <p>Microsoft Surface Pro 8 </p>
              <div class="models-list-bottom">
                <p>1100 €</p>
                <a href="#">Découvrir</a>
              </div>
            </li>
            <li class="models-element">
              <img
                src="/img/computers/microsoft.jpg"
                alt="microsoft"
                class="models-img"
              />
              <p>Microsoft Surface Pro 8 </p>
              <div class="models-list-bottom">
                <p>1100 €</p>
                <a href="#">Découvrir</a>
              </div>
            </li>
            <li class="models-element">
              <img
                src="/img/computers/microsoft.jpg"
                alt="microsoft"
                class="models-img"
              />
              <p>Microsoft Surface Pro 8 </p>
              <div class="models-list-bottom">
                <p>1100 €</p>
                <a href="#">Découvrir</a>
              </div>
            </li>
          </ul>
          <!-- /Liste 2 -->

          <!-- Liste 3 -->
          <ul class="models-list" id="models-list-3">
            <li class="models-element">
              <img
                src="/img/computers/dell.jpg"
                alt="dell"
                class="models-img"
              />
              <p>Inspiron 15 17p</p>
              <div class="models-list-bottom">
                <p>999 €</p>
                <a href="#">Découvrir</a>
              </div>
            </li>
            <li class="models-element">
              <img
                src="/img/computers/dell.jpg"
                alt="dell"
                class="models-img"
              />
              <p>Inspiron 15 17p</p>
              <div class="models-list-bottom">
                <p>999 €</p>
                <a href="#">Découvrir</a>
              </div>
            </li>
            <li class="models-element">
              <img
                src="/img/computers/dell.jpg"
                alt="dell"
                class="models-img"
              />
              <p>Inspiron 15 17p</p>
              <div class="models-list-bottom">
                <p>999 €</p>
                <a href="#">Découvrir</a>
              </div>
            </li>
            <li class="models-element">
              <img
                src="/img/computers/dell.jpg"
                alt="dell"
                class="models-img"
              />
              <p>Inspiron 15 17p</p>
              <div class="models-list-bottom">
                <p>999 €</p>
                <a href="#">Découvrir</a>
              </div>
            </li>
          </ul>
          <!-- /Liste 3 -->
          <!-- Liste 4 -->
          <ul class="models-list" id="models-list-4">
            <li class="models-element">
              <img
                src="/img/computers/chrome.jpg"
                alt="chrome"
                class="models-img"
              />
              <p>Chromebook Asus 13p</p>
              <div class="models-list-bottom">
                <p>499 €</p>
                <a href="#">Découvrir</a>
              </div>
            </li>
            <li class="models-element">
              <img
                src="/img/computers/chrome.jpg"
                alt="chrome"
                class="models-img"
              />
              <p>Chromebook Asus 13p</p>
              <div class="models-list-bottom">
                <p>499 €</p>
                <a href="#">Découvrir</a>
              </div>
            </li>
            <li class="models-element">
              <img
                src="/img/computers/chrome.jpg"
                alt="chrome"
                class="models-img"
              />
              <p>Chromebook Asus 13p</p>
              <div class="models-list-bottom">
                <p>499 €</p>
                <a href="#">Découvrir</a>
              </div>
            </li>
            <li class="models-element">
              <img
                src="/img/computers/chrome.jpg"
                alt="chrome"
                class="models-img"
              />
              <p>Chromebook Asus 13p</p>
              <div class="models-list-bottom">
                <p>499 €</p>
                <a href="#">Découvrir</a>
              </div>
            </li>
            <li class="models-element">
              <img
                src="/img/computers/chrome.jpg"
                alt="chrome"
                class="models-img"
              />
              <p>Chromebook Asus 13p</p>
              <div class="models-list-bottom">
                <p>499 €</p>
                <a href="#">Découvrir</a>
              </div>
            </li>
            <li class="models-element">
              <img
                src="/img/computers/chrome.jpg"
                alt="chrome"
                class="models-img"
              />
              <p>Chromebook Asus 13p</p>
              <div class="models-list-bottom">
                <p>499 €</p>
                <a href="#">Découvrir</a>
              </div>
            </li>
            <li class="models-element">
              <img
                src="/img/computers/chrome.jpg"
                alt="chrome"
                class="models-img"
              />
              <p>Chromebook Asus 13p</p>
              <div class="models-list-bottom">
                <p>499 €</p>
                <a href="#">Découvrir</a>
              </div>
            </li>
            <li class="models-element">
              <img
                src="/img/computers/chrome.jpg"
                alt="chrome"
                class="models-img"
              />
              <p>Chromebook Asus 13p</p>
              <div class="models-list-bottom">
                <p>499 €</p>
                <a href="#">Découvrir</a>
              </div>
            </li>
          </ul>
          <!-- /Liste 4 -->
          <div class="see-more"><a href="#">Voir plus</a></div>
        </div>
      </div>
    </section>
    <section id="keepmeposted">
      <h2>Tenez moi au courant</h2>
      <form>
        <input type="mail" />
        <button type="button" class="btn-important">
          Tenez moi au courant
        </button>
      </form>
    </section>
    <footer>
      <div>
        <a href="">Legal</a>
        <a href="">Confidentialité</a>
      </div>
      <div>
        <p>Copyright clarc 2022</p>
      </div>
      <div>
        <img src="img/clarc_logo_couleur_blanc.png" class="logo" alt="" />
      </div>
    </footer>
    <script>
      // pick model
      const apple = document.getElementById("apple");
      const microsoft = document.getElementById("microsoft");
      const dell = document.getElementById("dell");
      const chromePC = document.getElementById("chrome");

      const showListOne = document.getElementById("models-list-1");
      const showListTwo = document.getElementById("models-list-2");
      const showListThree = document.getElementById("models-list-3");
      const showListFour = document.getElementById("models-list-4");

      apple.addEventListener("click", () => {
        apple.classList.add("active");
        microsoft.classList.remove("active");
        dell.classList.remove("active");
        chromePC.classList.remove("active");
        showListOne.style.display = "flex";
        showListTwo.style.display = "none";
        showListThree.style.display = "none";
        showListFour.style.display = "none";
      });

      microsoft.addEventListener("click", () => {
        microsoft.classList.add("active");
        apple.classList.remove("active");
        dell.classList.remove("active");
        chromePC.classList.remove("active");
        showListOne.style.display = "none";
        showListTwo.style.display = "flex";
        showListThree.style.display = "none";
        showListFour.style.display = "none";
      });
      dell.addEventListener("click", () => {
        dell.classList.add("active");
        apple.classList.remove("active");
        microsoft.classList.remove("active");
        chromePC.classList.remove("active");
        showListOne.style.display = "none";
        showListTwo.style.display = "none";
        showListThree.style.display = "flex";
        showListFour.style.display = "none";
      });
      chromePC.addEventListener("click", () => {
        chromePC.classList.add("active");
        apple.classList.remove("active");
        microsoft.classList.remove("active");
        dell.classList.remove("active");
        showListOne.style.display = "none";
        showListTwo.style.display = "none";
        showListThree.style.display = "none";
        showListFour.style.display = "flex";
      });
    </script>
  </body>
</html>
